/* Headers */


h1{
	margin: 0px;
	}
	
h2 {
	font-size: large;
	margin-top: 30px;
	margin-bottom: 5px;
	}


ul {
	margin: 0;
	padding-left: 20px;
	margin-bottom: 15px;
}

/* Classes */

.italic {
	font-style: italic;
	}

.bold {
	font-weight: bold;
	}
	
.center {
	text-align: center;
	}